*.o
*.advixeproj
*.optrpt

advisor
advisor2
advisor3
d2q9-bgk
d2q9-bgk.out
final_state.dat
av_vels.dat
final_state.png
project_read_only.dflgadvixe
project_read_only.infoadvixe
annotations.advidb2

pin.log
